<div class="nested-fields">
  <%= f.label :episode_no %>
  <%= f.number_field :episode_no%>

  <%= f.label :episode %>
  <%= f.file_field :episode, accept: "video/*", class: "btn btn-danger mt-2 mb-2" %>

</div>
