<style>
  .inp{
    width: 50%;
    height: auto;
    margin:5px;
    font-size:20px;
  }
</style>
<%= render 'shared/notice' %>
<div class="mt-8 mb-5">
  <%= link_to contents_path, class: 'text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800' do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Back to contents
  <% end %>
</div>
<main class="mr-20 ml-20 mt-8">
<div class="container">
  <h1 class="font-bold text-rose-700">Editing content</h1>  
  <%= render "form", content: @content %>
  <br>
  <div>
    <% if @content.seasons.present? %>
      <% season = @content.seasons.find_by(season_no: 1) %>
      <br>
    <% end %>
    <%= link_to "Show this content", @content, class:"focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
  </div>
</div>
</main>
