<h1>Hello</h1>

<p>
  <% if @user.gender == "Male" %>
    Mr. <%= @user.firstname %> <%= @user.lastname %>, your plan is going to expire soon. Please update your plan.
  <% else %>
    Miss <%= @user.firstname %> <%= @user.lastname %>, your plan is going to expire soon. Please update your plan.
  <% end %>  
</p>
