<style>
  .banner {
    <% random_content = @contents.sample %>
    background-image: url();
    background-size: cover;
    background-position: center center;
    color: red;
    object-fit: contain;
    height: 448px;
  }
  .banner_contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px
  }
  .banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  .banner_discription {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
  }
  .banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: 
  }
  .banner-fadeBottom{
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #111);
  }
</style>
<div class="banner bg-cover bg-center text-white">
  <% random_content = @contents.sample %>
  <div class="banner_contents px-6 py-8">
    <h1 class="banner_title text-3xl font-bold mb-3"><%= random_content.name %></h1>
    <div class="banner_buttons flex">
      <button class="banner_button bg-blue-500 text-white font-bold py-2 px-4 rounded-full mr-4">Play</button>
    </div>
    <div class="banner_description text-sm mt-4">
      <%= random_content.description %>
    </div>
  </div>
  <div class="banner-fadeBottom h-16 bg-gradient-to-t from-transparent to-black">
  </div>
</div>
<%= render 'shared/index' %>
