.icon1 {
  font-size: 25px;
  position: absolute;
  margin-left: 260px;
  border-radius: 5%;
  color: rgb(226, 179, 179);
}
.profile {
  height: 300px;
  width: 300px;
  margin: auto; 
  margin-top: 70px;
}
.borde {
  border-radius: 20px; 
}
.profile img {
  border-radius: 20px; 
  box-shadow: 0px 0px 4px 2px blue;
}
h2{
  color:red;
  text-align: center;
}
.inp{
  width: 100%;
  height: auto;
  margin:5px;
  font-size:20px;
}
.modal-backdrop {
 background-color: red;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3u5oDmkXCCFer8BH5BtkTSU2YDYgZgrYOimZc9fFK-QjUvlnWZw0rIPX3qwXDt513gTo&usqp=CAU");
  background-size: cover;
}
.newsemiuser {
  position: absolute;
  left: 30%;
  top: 20%;
  display: none;
}