<h1>Editing semi user</h1>

<%= render "form", semi_user: @semi_user %>

<br>

<div>
  <%= link_to "Show this semi user", @semi_user %> |
  <%= link_to "Back to semi users", semi_users_path %>
</div>
